-- Add hasPortalAccess column to customer_accounts table
ALTER TABLE customer_accounts ADD COLUMN has_portal_access BOOLEAN DEFAULT true;

-- Update existing customers to have portal access enabled
UPDATE customer_accounts SET has_portal_access = true WHERE has_portal_access IS NULL;
